[user]
	email = carlos.lopez@marsbased.com
	name = Carlos López

[init]
	defaultBranch = main

[includeIf "gitdir:~/Workspace/personal/**"]
	path = ~/Workspace/personal/.gitconfig

[includeIf "gitdir:~/.dotfiles/"]
	path = ~/Workspace/personal/.gitconfig
